.mainCont {
    display: flex;
    border: 3px solid rgb(226, 9, 9);
    width: 100%;
    height: 100%;
    Padding: 2px;
flex-direction: column;

}

.sectionCont {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    border: 2px solid black;
}